<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        26.026 VueJs - v-show إظهار وإخفاء العناصر
    </title>
</head>

<body>
    <div id="App">
        <input type="checkbox" v-model="Active">
        <div v-if="Active">Hello IF</div> <!-- Remove from DOM -->
        <div v-show="Active">Hello Show</div> <!-- display: none; -->
    </div>
    <script src="Vue.js"></script>
    <script>
        new Vue({
            el: "#App",
            data: {
                Active: true
            }
        })
    </script>
</body>

</html>